/* File Untuk Resposive Style */

@media (min-width: 1400px) {
    /* +-----------------------+ */
    /* |  Awal CSS Style Umum  | */
    /* +-----------------------+ */

    .container {
        max-width: 1320px;
    }

    /* +-----------------------+ */
    /* | Akhir CSS Style Umum  | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |     Awal Bagian 1     | */
    /* +-----------------------+ */
    .section-01 .col {
        width: 53%;
        margin: auto;
    }

    .section-01 .title-hero {
        font-size: 56px;
        line-height: 72px;
    }

    .section-01 .desc-hero {
        font-size: 22px;
    }

    .section-01 .box-hero {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .section-01 .box-wrapper {
        width: 25%;
        margin: 0 12px 0;
    }

    .navbar-nav .nav-link {
        display: inline-block;
    }

    .navbar-nav .nav-item .mobile-toggle {
        display: none;
    }

    .navbar .navbar-nav {
        display: flex;
        align-items: center;
    }


    /* +-----------------------+ */
    /* |    Akhir Bagian 1     | */
    /* +-----------------------+ */




    /* +-----------------------+ */
    /* |     Awal Bagian 2     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 2     | */
    /* +-----------------------+ */



    /* +-----------------------+ */
    /* |     Awal Bagian 3     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 3     | */
    /* +-----------------------+ */



    /* +-----------------------+ */
    /* |     Awal Bagian 4     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 4     | */
    /* +-----------------------+ */



    /* +-----------------------+ */
    /* |     Awal Bagian 5     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 5     | */
    /* +-----------------------+ */
}

@media (min-width: 1200px) and (max-width: 1400px) {
    /* +-----------------------+ */
    /* |  Awal CSS Style Umum  | */
    /* +-----------------------+ */

    .container {
        max-width: 1140px;
    }

    /* +-----------------------+ */
    /* | Akhir CSS Style Umum  | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |     Awal Bagian 1     | */
    /* +-----------------------+ */

    .section-01 .col {
        width: 53%;
        margin: auto;
    }

    .section-01 .title-hero {
        font-size: 56px;
        line-height: 72px;
    }

    .section-01 .desc-hero {
        font-size: 22px;
    }

    .section-01 .box-wrapper {
        width: calc(25% - 24px);
        margin: 0 12px 0;
    }

    .navbar .navbar-nav {
        display: flex;
        align-items: center;
    }

    .navbar-nav .nav-link {
        display: inline-block;
    }

    .navbar-nav .nav-item .mobile-toggle {
        display: none;
    }

    /* +-----------------------+ */
    /* |    Akhir Bagian 1     | */
    /* +-----------------------+ */




    /* +-----------------------+ */
    /* |     Awal Bagian 2     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 2     | */
    /* +-----------------------+ */



    /* +-----------------------+ */
    /* |     Awal Bagian 3     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 3     | */
    /* +-----------------------+ */



    /* +-----------------------+ */
    /* |     Awal Bagian 4     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 4     | */
    /* +-----------------------+ */



    /* +-----------------------+ */
    /* |     Awal Bagian 5     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 5     | */
    /* +-----------------------+ */
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* +-----------------------+ */
    /* |  Awal CSS Style Umum  | */
    /* +-----------------------+ */

    .container {
        max-width: 960px;
    }

    /* +-----------------------+ */
    /* | Akhir CSS Style Umum  | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |     Awal Bagian 1     | */
    /* +-----------------------+ */

    .section-01 .col {
        width: 75%;
        margin: auto;
    }

    .section-01 .title-hero {
        font-size: 56px;
        line-height: 72px;
    }

    .section-01 .desc-hero {
        font-size: 22px;
    }

    .section-01 .box-wrapper {
        width: calc(25% - 24px);
        margin: 0 12px 0;
    }

    .navbar .navbar-nav {
        display: flex;
        align-items: center;
    }

    .navbar-nav .nav-link {
        display: inline-block;
    }

    .navbar-nav .nav-item .mobile-toggle {
        display: none;
    }

    /* +-----------------------+ */
    /* |    Akhir Bagian 1     | */
    /* +-----------------------+ */




    /* +-----------------------+ */
    /* |     Awal Bagian 2     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 2     | */
    /* +-----------------------+ */



    /* +-----------------------+ */
    /* |     Awal Bagian 3     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 3     | */
    /* +-----------------------+ */



    /* +-----------------------+ */
    /* |     Awal Bagian 4     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 4     | */
    /* +-----------------------+ */



    /* +-----------------------+ */
    /* |     Awal Bagian 5     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 5     | */
    /* +-----------------------+ */
}

@media (min-width: 768px) and (max-width: 992px) {
    /* +-----------------------+ */
    /* |  Awal CSS Style Umum  | */
    /* +-----------------------+ */

    .container {
        max-width: 720px;
    }

    /* +-----------------------+ */
    /* |  Akhir CSS Style Umum  | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |     Awal Bagian 1     | */
    /* +-----------------------+ */

    .section-01 .box-wrapper {
        width: calc(50% - 12px);
        margin-left: 12px;
        margin-right: 12px;
    }

    /* +-----------------------+ */
    /* |    Akhir Bagian 1     | */
    /* +-----------------------+ */




    /* +-----------------------+ */
    /* |     Awal Bagian 2     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 2     | */
    /* +-----------------------+ */



    /* +-----------------------+ */
    /* |     Awal Bagian 3     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 3     | */
    /* +-----------------------+ */



    /* +-----------------------+ */
    /* |     Awal Bagian 4     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 4     | */
    /* +-----------------------+ */



    /* +-----------------------+ */
    /* |     Awal Bagian 5     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 5     | */
    /* +-----------------------+ */
}

@media (min-width: 576px) and (max-width: 768px) {
    /* +-----------------------+ */
    /* |  Awal CSS Style Umum  | */
    /* +-----------------------+ */

    .container {
        max-width: 540px;
    }

    /* +-----------------------+ */
    /* |  Akhir CSS Style Umum  | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |     Awal Bagian 1     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 1     | */
    /* +-----------------------+ */




    /* +-----------------------+ */
    /* |     Awal Bagian 2     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 2     | */
    /* +-----------------------+ */



    /* +-----------------------+ */
    /* |     Awal Bagian 3     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 3     | */
    /* +-----------------------+ */



    /* +-----------------------+ */
    /* |     Awal Bagian 4     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 4     | */
    /* +-----------------------+ */



    /* +-----------------------+ */
    /* |     Awal Bagian 5     | */
    /* +-----------------------+ */


    /* +-----------------------+ */
    /* |    Akhir Bagian 5     | */
    /* +-----------------------+ */
}
