/* +-----------------------+ */
/* |  Awal CSS Style Umum  | */
/* +-----------------------+ */

* {
    padding: 0;
    margin: 0;
}

.container {
    padding: 0 1rem;
    margin: auto;
}

.row {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.box {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    border: #0d6efd 2px solid;
    border-radius: 10px;
    line-height: 40px;
    width: 200px;
}

.featured {
    background-color: #0d6efd;
    color: white;
}

.featured .btn-buy {
    color: #0d6efd;
}

.box ul li {
    list-style-type: none;
}

.na {
    color: gray;
    text-decoration: line-through;
}

.btn-buy {
    text-decoration: none;
    background-color: white;
    border-radius: 3px;
    padding: 5px 20px;
}

/* +-----------------------+ */
/* | Akhir CSS Style Umum  | */
/* +-----------------------+ */



/* +-----------------------+ */
/* |     Awal Bagian 1     | */
/* +-----------------------+ */


/* +-----------------------+ */
/* |    Akhir Bagian 1     | */
/* +-----------------------+ */




/* +-----------------------+ */
/* |     Awal Bagian 2     | */
/* +-----------------------+ */


/* +-----------------------+ */
/* |    Akhir Bagian 2     | */
/* +-----------------------+ */



/* +-----------------------+ */
/* |     Awal Bagian 3     | */
/* +-----------------------+ */


/* +-----------------------+ */
/* |    Akhir Bagian 3     | */
/* +-----------------------+ */



/* +-----------------------+ */
/* |     Awal Bagian 4     | */
/* +-----------------------+ */
.section-title {
    text-align: center;
    margin: 20px 0px;
}

.member {
    align-content: center;
}

.member-img{
    align-content: center;
}

.member-info img {
    width: 50%;

}

.member-info {
    text-align: center;
}

/* +-----------------------+ */
/* |    Akhir Bagian 4     | */
/* +-----------------------+ */



/* +-----------------------+ */
/* |     Awal Bagian 5     | */
/* +-----------------------+ */


/* +-----------------------+ */
/* |    Akhir Bagian 5     | */
/* +-----------------------+ */
