/* +-----------------------+ */
/* |  Awal CSS Style Umum  | */
/* +-----------------------+ */

* {
    padding: 0;
    margin: 0;
}

.container {
    padding: 0 1rem;
    margin: auto;
}


/* +-----------------------+ */
/* | Akhir CSS Style Umum  | */
/* +-----------------------+ */



/* +-----------------------+ */
/* |     Awal Bagian 1     | */
/* +-----------------------+ */


/* +-----------------------+ */
/* |    Akhir Bagian 1     | */
/* +-----------------------+ */




/* +-----------------------+ */
/* |     Awal Bagian 2     | */
/* +-----------------------+ */


/* +-----------------------+ */
/* |    Akhir Bagian 2     | */
/* +-----------------------+ */



/* +-----------------------+ */
/* |     Awal Bagian 3     | */
/* +-----------------------+ */


/* +-----------------------+ */
/* |    Akhir Bagian 3     | */
/* +-----------------------+ */



/* +-----------------------+ */
/* |     Awal Bagian 4     | */
/* +-----------------------+ */


/* +-----------------------+ */
/* |    Akhir Bagian 4     | */
/* +-----------------------+ */



/* +-----------------------+ */
/* |     Awal Bagian 5     | */
/* +-----------------------+ */


/* +-----------------------+ */
/* |    Akhir Bagian 5     | */
/* +-----------------------+ */