/* +-----------------------+ */
/* |  Awal CSS Style Umum  | */
/* +-----------------------+ */

* {
    padding: 0;
    margin: 0;
}

.container {
    padding: 0 1rem;
    margin: auto;
}


/* +-----------------------+ */
/* | Akhir CSS Style Umum  | */
/* +-----------------------+ */



/* +-----------------------+ */
/* |     Awal Bagian 1     | */
/* +-----------------------+ */


/* +-----------------------+ */
/* |    Akhir Bagian 1     | */
/* +-----------------------+ */




/* +-----------------------+ */
/* |     Awal Bagian 2     | */
/* +-----------------------+ */


/* +-----------------------+ */
/* |    Akhir Bagian 2     | */
/* +-----------------------+ */



/* +-----------------------+ */
/* |     Awal Bagian 3     | */
/* +-----------------------+ */


/* +-----------------------+ */
/* |    Akhir Bagian 3     | */
/* +-----------------------+ */



/* +-----------------------+ */
/* |     Awal Bagian 4     | */
/* +-----------------------+ */
.lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
  }

  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    
  }
  
  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
  }

  
  .heading h2 {
    font-weight: normal;
  }
  
  .lesson {
    float: left;
    width: 25%;
  }
  
  
  
  img{
    width: 150px;
    border-radius: 5rem;
  }

  .lesson-icon p {
    width: 100%;
    color: #b3aeb5;
    font-weight: bold;
  }
  
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .message-wrapper {
    margin-top: 150px;
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }

  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 1;
  }
/* +-----------------------+ */
/* |    Akhir Bagian 4     | */
/* +-----------------------+ */



/* +-----------------------+ */
/* |     Awal Bagian 5     | */
/* +-----------------------+ */


/* +-----------------------+ */
/* |    Akhir Bagian 5     | */
/* +-----------------------+ */